node_modules/
.next/
.env
.env.local
.venv/
linkedin_profile/
tsconfig.tsbuildinfo

.vercel
.env*

# Supabase CLI local state (created by `supabase start`, not project source)
supabase/.branches/
supabase/.temp/
